.villain-toggle-source {
  text-align: right;
}

#villain {
  #{$all-text-inputs},
  select[multiple=multiple],
  textarea {
    background-color: white;
    border: 1px solid $form-border-color;
    border-radius: $form-border-radius;
    box-shadow: $form-box-shadow;
    font-family: $form-font-family;
    font-size: $form-font-size;
    margin-bottom: $base-spacing / 2;
    padding: ($base-spacing / 3) ($base-spacing / 3);
    width: 100%;
    @include box-sizing(border-box);
    @include transition(border-color);

    &:focus {
      border-color: $form-border-color-focus;
      box-shadow: $form-box-shadow-focus;
      outline: none;
    }

    &:hover {
      border-color: $form-border-color-hover;
    }
  }

  *:focus {
    outline: 0;
  }

  .villain-block-button {
    background-color: $base-villain-red-color;
    border: 0;
    color: #fff;
    font-size: 10px;
    height: 70px;
    margin: 0 5px;
    text-transform: uppercase;
    width: 73px;
    @include animation-duration(0.5s);
    @include animation-fill-mode(both);
    @include animation-name(fadeInDown);

    &:hover {
      background-color: $base-villain-lightred-color;
    }

    i {
      font-size: 40px;
    }

    p {
      margin: 0;
      padding-top: 5px;
    }
  }

  .villain-message {
    font-weight: bold;
    margin: 15px 0;
    padding: 10px;
    text-align: center;

    &.error {
      background-color: #FFB0B0;
      border-bottom: 4px solid #DF9898;
    }

    &.success {
      background-color: #B2FCB2;
      border-bottom: 4px solid #A0EAA0;
    }
  }

  [contenteditable] {
    min-height: 1rem;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
    @include transition(color 0.1s linear);

    &:active,
    &:focus {
      color: $hover-link-color;
      outline: none;
    }

    &:hover {
      color: $hover-link-color;
    }
  }

  blockquote {
    border-left: 2px solid $base-border-color;
    color: lighten($base-font-color, 15);
    font-size: 2rem;
    font-style: italic;
    margin: $base-spacing 0;
    padding-left: $base-spacing / 2;
  }

  cite {
    color: lighten($base-font-color, 25);
    font-style: italic;

    &:before {
      content: "\2014 \00A0";
    }
  }

  dl {
    margin-bottom: $base-spacing / 2;

    dd {
      margin: 0;
    }

    dt {
      font-weight: bold;
      margin-top: $base-spacing / 2;
    }
  }

  fieldset {
    background: lighten($base-border-color, 10);
    border: $base-border;
    margin: 0 0 ($base-spacing / 2) 0;
    padding: $base-spacing;
  }

  h1 {
    font-size: $h1-font-size;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family;
    line-height: $header-line-height;
    margin: 0;
    text-rendering: optimizeLegibility; // Fix the character spacing for headings
  }

  h2 {
    font-size: $h2-font-size;
  }

  h3 {
    font-size: $h3-font-size;
  }

  h4 {
    font-size: $h4-font-size;
  }

  h5 {
    font-size: $h5-font-size;
  }

  h6 {
    font-size: $h6-font-size;
  }

  hr {
    border-bottom: $base-border;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  img,
  picture {
    margin: 0;
    max-width: 100%;
  }

  input,
  label,
  select {
    display: block;
    font-family: $form-font-family;
    font-size: $form-font-size;
  }

  input[type="checkbox"],
  input[type="radio"] {
    display: inline;
    margin-right: $base-spacing;
  }

  input[type="file"] {
    padding-bottom: $base-spacing / 2;
    width: 100%;
  }

  input[type="search"] {
    @include appearance(none);
  }

  label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 0.375em;
    margin-bottom: $base-spacing / 4;
    text-transform: uppercase;

    &.required:after {
      content: "*";
    }

    abbr {
      display: none;
    }
  }

  ol,
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &%default-ol {
      list-style-type: decimal;
      margin-bottom: $base-spacing / 2;
      padding-left: $base-spacing;
    }

    &%default-ul {
      list-style-type: disc;
      margin-bottom: $base-spacing / 2;
      padding-left: $base-spacing;
    }
  }

  p {
    margin: 0 0 ($base-spacing / 2);
  }

  select {
    margin-bottom: $base-spacing;
    max-width: 100%;
    width: auto;
  }

  table {
    border-collapse: collapse;
    margin: ($base-spacing / 2) 0;
    table-layout: fixed;
    width: 100%;
  }

  td {
    border-bottom: $base-border;
    padding: ($base-spacing / 2) 0;
  }

  td,
  th,
  tr {
    vertical-align: middle;
  }

  textarea {
    resize: vertical;
  }

  th {
    border-bottom: 1px solid darken($base-border-color, 15);
    font-weight: bold;
    padding: ($base-spacing / 2) 0;
    text-align: left;
  }
}

.villain-setup-block {
  background-color: #F1F7EE;
  padding: 20px 15px;

  &:before {
    content: "// Blokkoppsett";
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .center-cropped {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 250px;
  }

  .villain-form {
    margin: 25px auto 0;
    max-width: 500px;
  }

  .villain-image-dropper {
    text-align: center;

    i {
      color: #CCC;
      font-size: 300px;

      &.drop-hover {
        color: $base-villain-green-color;
      }
    }
  }

  .villain-map-setup-icon {
    text-align: center;

    i {
      color: #CCC;
      font-size: 300px;
    }
  }

  .villain-map-setup-input-wrapper {
    margin: 25px auto;
    max-width: 450px;
    text-align: center;
  }

  .villain-video-setup-icon {
    text-align: center;

    i {
      color: #CCC;
      font-size: 300px;
    }
  }

  .villain-video-setup-input-wrapper {
    margin: 25px auto;
    max-width: 450px;
    text-align: center;
  }

  button,
  input[type="submit"] {
    border: none;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    @extend %button;
    @include appearance(none);
  }

  hr {
    border-bottom: 1px solid #fff;
  }
}

.villain-block-inner {
  background-color: #fff;
  border: 2px solid #fff;
  color: #333;
  margin: 5px 0;
  padding: 30px 12px;
  position: relative;

  .row {
    margin-left: 20px;
    margin-right: 20px;
    max-width: none;
    @include outer-container;

    .col-lg-1,
    .col-md-1,
    .col-sm-1,
    .one {
      @include span-columns(1);
    }

    .col-lg-10,
    .col-md-10,
    .col-sm-10,
    .ten {
      @include span-columns(10);
    }

    .col-lg-11,
    .col-md-11,
    .col-sm-11,
    .eleven {
      @include span-columns(11);
    }

    .col-lg-12,
    .col-md-12,
    .col-sm-12,
    .twelve {
      @include span-columns(12);
    }

    .col-lg-2,
    .col-md-2,
    .col-sm-2,
    .two {
      @include span-columns(2);
    }

    .col-lg-3,
    .col-md-3,
    .col-sm-3,
    .three {
      @include span-columns(3);
    }

    .col-lg-4,
    .col-md-4,
    .col-sm-4,
    .four {
      @include span-columns(4);
    }

    .col-lg-5,
    .col-md-5,
    .col-sm-5,
    .five {
      @include span-columns(5);
    }

    .col-lg-6,
    .col-md-6,
    .col-sm-6,
    .six {
      @include span-columns(6);
    }

    .col-lg-7,
    .col-md-7,
    .col-sm-7,
    .seven {
      @include span-columns(7);
    }

    .col-lg-8,
    .col-md-8,
    .col-sm-8,
    .eight {
      @include span-columns(8);
    }

    .col-lg-9,
    .col-md-9,
    .col-sm-9,
    .nine {
      @include span-columns(9);
    }
  }

  .villain-html-block textarea {
    border: 0 !important;
    box-shadow: none !important;
    font-family: monospace !important;

    &:focus {
      background-color: #eee !important;
    }
  }

  .villain-map-block {
    height: 0;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      padding: 0 25px;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  .villain-md-block {
    position: relative;

    textarea {
      border: 0 !important;
      box-shadow: none !important;
      font-family: monospace !important;
      font-size: 15px !important;
      line-height: 24px;

      &:focus {
        background-color: #eee !important;
      }
    }
  }

  .villain-slideshow-block {
    h4 {
      margin-bottom: 15px;
    }
  }

  .villain-text-block {
    /* make space for the action buttons */
    padding-right: 30px;
  }

  .villain-text-block[data-text-type="lead"] {
    font-size: 2rem;
  }

  .villain-video-block {
    height: 0;
    padding-top: 56.25%;
    position: relative;
    width: 100%;

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.villain-block-inner.hover {
  border: 2px solid $base-villain-lightred-color;
}

.villain-add-block {
  margin: 17px 0;
}

.villain-add-block-button {
  background-color: #fff;
  border: 0;
  border-radius: 0;
  color: $base-villain-lightred-color;
  display: block;
  font-family: "Helvetica";
  font-size: 35px;
  font-weight: 700;
  padding: 0 0 5px;
  width: 100%;
}

.villain-add-block-button:hover {
  background-color: $base-villain-red-color;
  color: #ffffff;
}

.villain-add-block-button.drop-hover {
  background-color: $base-villain-green-color;
  color: #FFF;
}

.villain-block-selection {
  background-color: $base-villain-red-color;
  padding: 20px 15px;
  text-align: center;
}
@include keyframes(fadeInDown) {
  from {
    opacity: 0;
    @include transform(translateY(-20px));
  }

  to {
    opacity: 1;
    @include transform(translateY(0));
  }
}

.villain-text-block-header {
  font-size: 32px;
}

.villain-text-block-header[data-header-level="1"] {
  font-size: 32px;
}

.villain-text-block-header[data-header-level="2"] {
  font-size: 25px;
}

.villain-text-block-header[data-header-level="3"] {
  font-size: 20px;
}

.villain-text-block-header[data-header-level="4"] {
  font-size: 17px;
}

.villain-text-block-header[data-header-level="5"] {
  font-size: 14px;
}

.villain-text-block-subheader {
  font-size: 24px;
}

.villain-text-block div {
  /*
    margin-top: 3px;
    margin-bottom: 7px;
  */
}

.villain-text-block-list {
  font-size: 18px;

  ul {
    @extend %default-ul;
  }
}

.villain-actions {
  bottom: 0;
  position: absolute;
  right: 0;
  visibility: hidden;

  .villain-action-button {
    background: #ffffff;
    border-bottom: 0;
    border-right: 0;
    color: $base-villain-red-color;
    cursor: pointer;
    display: block;
    font-size: 17px;
    height: 30px;
    line-height: 0;
    margin-bottom: 0;
    margin-top: 3px;
    padding-top: 6px;
    text-align: center;
    width: 30px;

    &:hover {
      background: $base-villain-red-color;
      color: #ffffff;
    }
  }
}

.villain-action-button-move {
  cursor: move;
}

.villain-block-loader {
  background-color: rgba(255, 255, 255, 0.7);
  display: table;
  height: 100%;
  width: 100%;

  i {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

.villain-block-wrapper {
  @include animation-duration(0.5s);
  @include animation-fill-mode(both);
  @include animation-name(fadeInDown);
}

.villain-block-wrapper.organize::after {
  background-color: #000;
  color: #fff;
  content: attr(data-block-type);
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.villain-block-wrapper.loading {
  pointer-events: none;
  position: relative;

  .loading-icon {
    display: block;
    font-size: 4.8125rem;
    line-height: 5.25rem;
    vertical-align: middle;
  }

  .loading-overlay {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 100;
  }

  .loading-spinner {
    bottom: 0;
    color: #B8B8B8;
    left: 0;
    margin: -3.9375rem auto 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
  }
}

.villain-block-wrapper[data-block-type="text"] {
  font-size: 20px;
}

.villain-block-wrapper[data-block-type="divider"] {
  .villain-block-inner {
    padding: 20px 12px;
  }
}

.villain-block-wrapper[data-block-type=columns] > div {
  background-color: rgba(202, 255, 0, 0.05);
}
