{
  extends: "airbnb",
  parser: "babel-eslint",
  env: {
    browser: true,
    es6: true
  },
  parserOptions: {
    ecmaFeatures: {
      modules: true
    }
  },
  babel: {
    stage: 0
  },
  rules: {
    strict: 0
  }
}
